*.iml
.DS_Store
.idea/
Obsidian/*
application.properties
db_text_embeddings/*
models/*
src/julia/.ipynb_checkpoints/*
src/julia/parallel_computing/.ipynb_checkpoints/*
src/julia/xml/output.csv
src/notebooks/.ipynb_checkpoints/*
src/python/__pycache__/*
text_corpus/*
vocabulary/*
.ipynb_checkpoints/*

.vscode/settings.json
