.idea/
.DS_Store
*.iml
target/
application.properties
notebooks/.ipynb_checkpoints/*.*
GPT/jupyter/.ipynb_checkpoints/*.*
GPT/models/*.*
GPT/vectorstore/*
Obsidian/*
GPT/vocabulary/*
GPT/.env
GPT/__pycache__/*.*
GPT/db/*.*
GPT/db/*
GPT/text_corpus/*.*

src/julia/.ipynb_checkpoints/*
src/notebooks/.ipynb_checkpoints/*
